body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d59ae7;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #cfd2b2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#search-bar, #filter {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e3acd6;
    background-color: #f9f9f9;
}

.task-item input[type="text"] {

    width: 60%;
    margin-right: 10px;
}

.task-item .task-due-date, .task-item .task-priority {
    margin-right: 10px;
}

.task-item button {
    margin-left: 5px;
}

button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button.save-task {
    background-color: #28a745;
}

button.save-task:hover {
    background-color: #218838;
}

button.delete-task {
    background-color: #dc3545;
}

button.delete-task:hover {
    background-color: #c82333;
}

.overdue {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        width: 100%;
    }

    .task-item {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .task-item input[type="text"] {
        width: 100%;
        margin-bottom: 5px;
    }
}
